<!DOCTYPE html>
<html lang="en" style="min-width: 300px;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css" />
        <title>CPH FOR LEETCODE</title>
    </head>
    <body>
        <div id ="container">
           <p style="font-weight: bold; font-size: 20px;">CPH For Leetcode</p> 
           <p>Enter question url below and press Fetch Test Cases to load testcases and use Run Test Cases to validate Your Solution</p>
           <input type="text"  placeholder="https://leetcode.com/problems/example" id="url" class="input_element"> </input>
           <div id="functions">
               <button id="fetch_test_case" class="function_button">Fetch Test Cases</button>
               <button id="run_test_case" class="function_button">Run Test Cases</button>
            </div>
            <div id="create_template" >
                <p>Creating a template is optional, but recommended. This will create a general leetcode template</p>
                <input list="languages" class="input_element" placeholder="Select language" id="lang_in">
                <datalist id="languages">
                    <option value="C++">
                        <option value="Python">
                        </datalist>
                        <button class="function_button">Create Template</button>
            </div>
            <div id="testcases">
                <p style="font-weight: bold; font-size: 20px;" id="text"></p>
                
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>